- @popular_pages = PageRequest.find_popular
- unless @popular_pages.blank?
  #popular_pages.recent_box
    %h2 Popular Pages
    %p Popularity is a ranking between 1 and 100 with 100 being the most popular.
    %ul
      - @popular_pages.each do |req|
        - if req.virtual
          %li.alternate= "#{link_to req.url, req.url }: popularity #{req.popularity}"
        - else
          - page = Page.find_by_url(req.url)
          %li= "#{link_to page.title, page.url }: popularity #{req.popularity}"